/*layout*/
    /*style*/
    
    /* Debug */


/* サイト内共通部 */
html{
    background-color: lightpink
}


body{
    margin: 0 auto;
    width: 100%;
    z-index: -100;
}

h2{
    padding: 20px;
    margin: 0;
    animation: SlideIn 1.6s;
}
/* @keyframes SlideIn {
    0% {
    opacity: 0;
    transform: translateX(64px);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}  */



/* ヘッダー */

header{
    height: 70px;
    width: 100%;
    /*layout*/
    position:fixed;
    top: 0;
    left: 0;
    z-index:10000 ;
    /*style*/
    background-color: brown;
    color: azure;
}

#header_hide{
    height: 70px;
    width: 100%;
}

#headerDiv{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex : 1;
}


h1{
    text-align: center;
    line-height: 70px;
    margin: 0;
}


#header_nav{
    height: 70px;
    width: 70%;
    margin: 0 0 0 0;
    /*style*/
    /* background-color: white;
    color: black; */
}

#header_nav_list{
    height: 70px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

li{
    /*layout*/
    flex : 1;
    text-align: center;
    height: 70px;
    margin: 0 auto;
    display: block;
    
    /*style*/
    font-size: 20px;
    /* Debug */
    /* padding: 10px 20px; */
    background-color: brown;
    color: #3e3d3c;
    border-bottom: 5px solid transparent;
    border: black;
}
li:hover{
    background-color: rgb(187, 107, 107);
    color: aliceblue;
    height: 65px;
    border-bottom: 5px solid transparent;
    border-color: azure;
}
a.navlist{
    display: block;
    height: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    color: azure;
}

#hamburger_menu{
    height: 70px;
    margin: 0;
    /* display: none; */
    z-index:10001 ;
}
#sidemenu{
    position: absolute;
    display: none;
}
.close_sidemenu{
    position: absolute;
    display: none;
}
.hamburger_icon{
    display: none;
    height: 75px;
    width: auto;
    margin: 0 0 0 0;
    font-size: 60px;
    font-weight: 80;
    text-align: center;
    line-height: 75px;
}
@media screen and (max-width: 500px) {
    header{
        height: 70px;
        width: 100%;

    }
    #headerDiv{
        width: 100%;
    }
    h1{
        font-size: 30px;
        line-height: 70px;
        padding-left: 5px;
    }
    #header_nav{
        width: 0px;
    }

    #header_nav_list{
        display: inline;
        width: 100%;
        position: absolute;
        top: -300px;
        left: 0px;
        padding: 0;
    }
    .hamburger_icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;

    }
    input[type="checkbox"]:checked ~ #header_nav_list{
        width: 100%;
        top: 70px;
        left: 0px;
        
    }
    input[type="checkbox"]:checked ~ .hamburger_icon{
        display: none;
    }
    input[type="checkbox"]:checked ~ .back_sidemenu{
        position: fixed;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
    }
    input[type="checkbox"]:checked ~ .close_sidemenu{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        font-size: 50px;
        z-index:10005 ;
    }
}

/* ヘッダー　終了 */

/* フッター */
footer{
    width: 100%;
    height: 300px;
    background-color: brown;
    margin: 0 auto;

}
/* フッター　終了 */
/* サイト内共通部　終了 */




/* ページ別 */
/* トップイメージ */
#TopImageBox{
    width: 1000px ;
    height: 400px;
    margin: 0 auto;
    margin-top: 70px;
}

#TopImage{
    width: 100%;
    height: 400Px;
}
@media screen and (max-width: 500px) { 
    #TopImageBox{
        width: 100% ;
        height: auto;
        margin: 0 0;
        margin-top: 70px;
        padding: 0;
        background-color: white;
    }
    #TopImage{
        width: 100%;
        height: auto;
    }
}
/* トップイメージ　終了 */


/* ■メインコンテンツ■ */
main{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    z-index: -10;
}

#onboarding1{
    display: flex ;
    flex: 1;
    flex-direction: row;
}

.onboarding_photo{
    height: 300px;
    width: 400px;
}

.onboarding_textbox{
    padding-left: 20px;
}
.onboarding_text{
    /* margin-left: 20px; */
}

.home_h2{
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 5px solid transparent;
    border-color: azure;
}
@media screen and (max-width: 500px) { 
    main{
        width: 100%;
        margin: 0;
        background-color: white;
    }
    
    #onboarding1{
        flex-direction: column;
    }
    
    .onboarding_photo{
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    
    .onboarding_textbox{
        padding-left: 20px;
    }
    .onboarding_text{
        /* margin-left: 20px; */
    }
    
}


/* ポートフォリオ */
.portfolio_box{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: rgb(185, 183, 183);
}

#portfolio_listing_box{
    width: 900px;
    height: 340px;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;

    position : absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

}

.portfolio_card{
    width: 250px;
    height: 300px;
    margin: 20px 0;
    background-color: bisque;
}

.card{
    width: 250px;
    height: 300px;
    margin: 20px 0;
    background-color: bisque;
}
.card_img{
    width: 250px;
    height: auto;
}

.roundButton{

    width: auto;
    border-radius: 10px;

    padding: 10px;
    margin: 0 auto;
    position : absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);


    color: azure;
    font-size: 20pt;
    background-color: brown;
}

.roundButton:hover{
    background-color: rgb(187, 107, 107);
    color: aliceblue;
    border-color: azure;
}

@media screen and (max-width: 500px){
    .portfolio_box{
        width: 100%;
        height: 1130px;
    }
    #portfolio_listing_box{
        display: block;
        width: 100%;
        height: 1000px;
    }
    
    .portfolio_card{
        width: 250px;
        height: 300px;
        margin: 20px auto;
        background-color: bisque;
    }
    .roundButton{
        width: 80%;
        font-size: 18px;
        text-align: center;
    }
}




/* JS関数向けCSS */

/* ■スライドイン■ */
.scroll-fade-side{
    opacity: 0;
    transition-duration: 1000ms;
    transition-property: opacity, transform;
}

.sideIn_up   {transform: translate(  0px,  70px);}
.sideIn_down {transform: translate(  0px, -70px);}
.sideIn_right{transform: translate( 70px,   0px);}
.sideIn_left {transform: translate(-70px,   0px);}

.scroll-in{
    opacity: 1;
    transform: translate(0, 0);
}

@media screen and (max-width: 500px){
    .sideIn_up   {transform: translate(  0px,  70px);}
    .sideIn_down {transform: translate(  0px, -70px);}
    .sideIn_right{transform: translate(  0px,  70px);}
    .sideIn_left {transform: translate(  0px, -70px);}

}
/* ■スライドイン終了■ */


/* ■レスポンシブ　スマホ向けサイト■ */

/* ■レスポンシブ　スマホ向けサイト 終了■ */


/* プロフィールページ */
#profileBox{
    width: 100%;
    height: 500px;
    padding-top: 70px;
    display: flex;
    flex-direction : row;
    z-index: -10;
    display: none;
}

#profileBox1{

    width: calc(50%);
	height: 500px;
	background: red;
    z-index: 0;
}
#profileBox1::before{
    content: "";
    position: absolute;
    left: calc(50% - 50px);
    width: 50px;
    height: 500px;
	background: #e7d2d2;
    transform: skewX(11.3deg);
    z-index: 3;
}

#profileBox2{
    width: calc(50%);
	height: 500px;
	background: #6011c7;
    position: absolute;
    right: 0;
    z-index: 0;
}
#profileBox2::before{
    content: "";
    position: absolute;
    left: calc(- 25px);
    width: 50px;
    height: 500px;
	background: #0c0101;
    transform: skewX(11.3deg);
    z-index: 1;
}

#profile_history{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;

}